USE [master]
GO
/****** Object:  Database [Escuela]    Script Date: 24/02/2018 11:53:00 a.m. ******/
CREATE DATABASE [Escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Escuela', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Escuela.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Escuela_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Escuela_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Escuela]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 24/02/2018 11:53:00 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[Nombre] [nchar](10) NOT NULL,
	[Matricula] [int] NULL,
	[Semestre] [int] NULL,
	[Carrera] [nchar](10) NULL,
	[NumMateriasCursadas] [int] NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 24/02/2018 11:53:00 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[NombreCarrera] [nchar](10) NULL,
	[AlumnosTotal] [int] NULL,
	[FechaCreacion] [date] NULL,
	[Costo] [int] NULL,
	[IVA]  AS ([Costo]*(0.16))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Materia]    Script Date: 24/02/2018 11:53:00 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[NombreMateria] [char](10) NOT NULL,
	[Semestre] [int] NULL,
	[Creditos] [int] NULL,
	[Frecuencias] [int] NULL,
	[Dias] [date] NULL,
	[Costo] [int] NULL,
	[IVA]  AS ([Costo]*(0.16)),
 CONSTRAINT [PK_Materia] PRIMARY KEY CLUSTERED 
(
	[NombreMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mestro]    Script Date: 24/02/2018 11:53:00 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mestro](
	[NombreMestro] [nvarchar](50) NOT NULL,
	[Salon] [nchar](10) NULL,
	[HorasAsignadas] [date] NULL,
	[Materias] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Mestro] PRIMARY KEY CLUSTERED 
(
	[NombreMestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tabla_Horarios]    Script Date: 24/02/2018 11:53:00 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_Horarios](
	[Id] [nchar](10) NOT NULL,
	[Salon] [int] NULL,
	[Materia] [nchar](10) NULL,
	[Fecha] [date] NULL,
	[Maestro] [nchar](10) NULL,
	[Dias] [date] NULL,
 CONSTRAINT [PK_Tabla_Horarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Mestro]    Script Date: 24/02/2018 11:53:00 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_Mestro] ON [dbo].[Mestro]
(
	[NombreMestro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Tabla_Horarios]    Script Date: 24/02/2018 11:53:00 a.m. ******/
CREATE NONCLUSTERED INDEX [IX_Tabla_Horarios] ON [dbo].[Tabla_Horarios]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
